{% load staticfiles %}
<footer class="page-footer #2962ff blue accent-4" style="padding-top: 0">
<div class="container">
  <img class="footer-logo" src="{% static 'tracker/images/logo_transparent.png' %}">
  <div class="row center-align" style="height: ">
	<div class="col s12 l4">
	  <h6 class="white-text">Help</h6>
	  <ul>
		<li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
		<li><a class="grey-text text-lighten-3" href="#!">Terms of Use</a></li>
	  </ul>
	</div>
	<div class="col s12 l4">
	  <h6 class="white-text">Contact Us</h6>
	  <ul>
		<li><a class="btn waves-effect waves-light blue darken-4" target="_blank" href="mailto:dlai6620@uni.sydney.edu.au">Email</a></li>
	  </ul>
	</div>
	<div class="col s12 l4">
	  <h6 class="white-text">More</h6>
	  <ul>
		<li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
		<li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
	  </ul>
	</div>
  </div>
</div>
<div class="footer-copyright" style="">
  <div class="container" style="text-align: center;">
  	<p>eatyourfeelings © 2017</p>
  </div>
</div>
</footer>