{% include "tracker/patient_navbar.html" %}

{% block content %}

this is the patient information page

<p> If your gums do hurt or bleed while brushing or flossing, or you are experiencing persistent bad breath, see your dentist. Any of these conditions may indicate a problem.</p>

<p> Your dentist or hygienist can help you learn good oral hygiene techniques and can help point out areas of your mouth that may require extra attention during brushing and flossing. </p>

<p> How is Good Oral Hygiene Practiced? 
Maintaining good oral hygiene is one of the most important things you can do for your teeth and gums. Healthy teeth not only enable you to look and feel good, they make it possible to eat and speak properly. Good oral health is important to your overall well-being. </p>

<p> Daily preventive care, including proper brushing and flossing, will help stop problems before they develop and is much less painful, expensive, and worrisome than treating conditions that have been allowed to progress. </p>

<p> In between regular visits to the dentist, there are simple steps that each of us can take to greatly decrease the risk of developing tooth decay, gum disease and other dental problems. These include: </p>

{% endblock %}
